<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Document</title>
</head>
<body>
  <h1>Enter a flight</h1>
<form action="/flights" method="POST">
<label>Airline:
  <select name="airline">
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select> 
   <!-- <input type="text" name="title"> -->
  </label><br>
<label>Airport:
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="lAX">LAX</option>
    <option value="SAN">SAN</option>
  </select> 
  </label><br>
  <label>Flight Number:
    <input type="number" name="flightNo">
  </label><br>
  <label for="departure-time">Departure Time:
    <input type="datetime-local" name='departs'>
  </label><br>
  <button type="submit">Add Flight</button>
</form>

</body>
</html>


  <!-- <label for='departure-time'><Departure:</lable>
    <input type="text" name="releaseYear">
  </label><br>
</label><br>
<form action="/movies" method="POST">
<button type="submit">Add Movie</button> -->
<!-- </label><br>
</form> -->