<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/new.css" />
<%- include('../partials/nav') %>

<body>
  <h1>Enter a flight</h1>
<form action="/flights" method="POST">
<label>Airline:
  <select name="airline">
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
  </select> 
   <!-- <input type="text" name="title"> -->
  </label><br>
<label>Airport:
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
    <option value="lAX">LAX</option>
    <option value="SAN">SAN</option>
  </select> 
  </label><br>
  <label>Flight Number:
    <input type="number" name="flightNo">
  </label><br>
  <label for="departure-time">Departure Time:
    <input type="datetime-local" name='departs'>
  </label><br>
  <button type="submit">Add Flight</button>
</form>

</body>
</html>

<%- include("../partials/footer") %>